---
import { Image } from 'astro:assets';
import { getLangFromUrl, useTranslatedPath, useTranslations } from "@/i18n/utils";

import hero01 from "@/assets/inicio/hero-slide-01.webp";
import hero02 from "@/assets/inicio/hero-slide-02.webp";
import hero03 from "@/assets/inicio/hero-slide-03.webp";
import hero04 from "@/assets/inicio/hero-slide-04.webp";
import hero05 from "@/assets/inicio/hero-slide-05.webp";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<style>
  .carousel-item {
    position: relative;
    width: 100%;
    height: 60vh; /* Ocupa toda la altura de la pantalla */
    overflow: hidden;
  }

  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7); /* Oscurece un poco la imagen de fondo */
  }

  .responsive-text {
    position: absolute;
    top: 50%; /* Centrado vertical */
    left: 10%; /* Espaciado desde la izquierda */
    transform: translateY(-50%); /* Ajuste para centrar verticalmente */
    color: white;
  }

  @media (min-width: 1200px) {
    .responsive-text {
      left: 15%; /* Más espacio desde la izquierda en pantallas grandes */
    }
  }
</style>

<div
  id="carouselExampleIndicators"
  class="carousel slide"
  data-bs-ride="carousel"
  data-bs-interval="4000"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="3"
      aria-label="Slide 4"></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="4"
      aria-label="Slide 5"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" style="position: relative;">
      <!-- <img src={hero01.src} alt="Slide 01"> -->
      <Image src={hero01} alt="Slide 01" class="d-block w-100" loading="eager"/>
      <div class="responsive-text text-white">
        <h2 class="fw-medium position-relative bg-dark opacity-75 p-2 fs-3">
          {t("carousel.title01")}
        </h2>
        <a
          href={translatePath("/localizacion")}
          class="btn btn-primary text-light mt-2"
        >
          {t("carousel.button01")}
        </a>
      </div>
    </div>
    <div class="carousel-item">
      <img src={hero02.src} alt="Slide 02">
      <div class="responsive-text text-white">
        <h2 class="fw-medium position-relative bg-dark opacity-75 p-2 fs-3">
          {t("carousel.title02")}
        </h2>
        <p class="fw-light position-relative bg-dark opacity-75 p-2 fs-5">
          {t("carousel.text02")}
        </p>
        <a href={translatePath("/reservar")} class="btn btn-primary text-light mt-2"
          >{t("carousel.button02")}</a
        >
      </div>
    </div>
    <div class="carousel-item">
      <img src={hero03.src} alt="Slide 03">
      <div class="responsive-text text-white">
        <h2 class="fw-medium position-relative bg-dark opacity-75 p-2 fs-3">
          {t("carousel.title03")}
        </h2>
        <a href={translatePath("/localizacion")} class="btn btn-primary text-light mt-2">
          {t("carousel.button03")}
        </a>
      </div>
    </div>
    <div class="carousel-item">
      <img src={hero04.src} alt="Slide 04">
      <div class="responsive-text text-white">
        <h2 class="fw-medium position-relative bg-dark opacity-75 p-2 fs-3">
          {t("carousel.title04")}
        </h2>
        <p class="fw-light position-relative bg-dark opacity-75 p-2 fs-5">
          {t("carousel.text04")}
        </p>
        <a
          href={translatePath("/localizacion")}
          class="btn btn-primary text-light mt-2">{t("carousel.button04")}</a
        >
      </div>
    </div>
    <div class="carousel-item">
      <img src={hero05.src} alt="Slide 05">
      <div class="responsive-text text-white">
        <h2 class="fw-medium position-relative bg-dark opacity-75 p-2 fs-3">
          {t("carousel.title05")}
        </h2>
        <p class="fw-light position-relative bg-dark opacity-75 p-2 fs-5">
          {t("carousel.text05")}
        </p>
        <a href={translatePath("/localizacion")} class="btn btn-primary text-light mt-2"
          >{t("carousel.button05")}</a
        >
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
