---
import { getLangFromUrl, useTranslatedPath, useTranslations } from '@/i18n/utils';


import FacebookIcon from "@/assets/icons/FacebookIcon.astro";
import LinkedinIcon from "@/assets/icons/LinkedinIcon.astro";
import WhatsappIcon from "@/assets/icons/WhatsappIcon.astro";

import Looking4Parking from "@/assets/footer/Looking4Parking.webp";
import ParkVia from "@/assets/footer/ParkVia.webp";
import ParkLot from "@/assets/footer/ParkLot.webp";

import Fiatc from "@/assets/footer/Fiatc.webp";
import Prosegur from "@/assets/footer/Prosegur.webp";
import { Image } from 'astro:assets';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<footer class="bg-dark text-white">
    <div class="container py-5">
        <div class="row row-cols-1 row-cols-md-3">
            <div class="mb-5 mb-md-0">
                <h4 class="text-primary">ALC VALET PARKING</h4>
                <p class="mb-2">
                    <span class="fw-semibold">{t('footer.airport')}: </span>+34 601 356 356
                </p>
                <p class="mb-2">
                    <span class="fw-semibold">{t('footer.office')}: </span>+34 601 356 356
                </p>
                <div class="d-flex align-items-center mb-2">
                    <WhatsappIcon />
                    <p class="m-0">+34 601 356 356</p>
                </div>
                <p class="mb-2">
                    e-mail: <a
                        href="mailto:info@alcvaletparking.com"
                        class="text-decoration-none text-light"
                        >info&#64;alcvaletparking.com</a>
                </p>
                <a
                    href="https://www.facebook.com/profile.php?id=100069995474805#"
                    target="_blank"
                    class="me-2"
                >
                    <FacebookIcon />
                </a>
                <a
                    href="https://www.linkedin.com/in/alc-valet-parking-6b8794171/"
                    target="_blank"
                >
                    <LinkedinIcon />
                </a>
            </div>

            <div class="mb-5 mb-md-0">
                <h4>{t('footer.partners')}</h4>
                <div class="row row-cols-3">
                    <Image src={Looking4Parking} alt="Looking4Parking" class="img-fluid" loading="lazy" />
                    <Image src={ParkVia} alt="ParkVia" class="img-fluid" loading="lazy" />
                    <Image src={ParkLot} alt="ParkLot" class="img-fluid" loading="lazy" />
                </div>
            </div>

            <div>
                <h4>{t('footer.secure')}</h4>
                <div class="row row-cols-2">
                    <Image src={Prosegur} alt="Prosegur" class="img-fluid" loading="lazy" />
                    <Image src={Fiatc} alt="Fiatc" class="img-fluid" loading="lazy" />
                </div>
            </div>
        </div>
    </div>
</footer>

<div style="background-color: #111111;" class="p-3">
    <div class="container text-white">
        <div class="row row-cols-1 row-cols-md-2">
            <div
                class="d-flex justify-content-center justify-content-lg-start align-items-center"
            >
                <p class="mb-3 m-md-0">
                    © Copyright - ALC Valet Parking Alicante - {t('footer.longterm').toUpperCase()}
                </p>
            </div>
            <div
                class="d-flex align-items-center justify-content-center justify-content-lg-end"
            >
                <ul class="d-flex list-unstyled m-0 gap-3">
                    <li>
                        <a href={translatePath("/avisos-legales")} class="text-white"
                            >{t('footer.legalnotices')}</a
                        >
                    </li>
                    <li>
                        <a href={translatePath("/politica-cookies")} class="text-white"
                            >{t('footer.cookiespolicy')}</a
                        >
                    </li>
                    <li>
                        <a href={translatePath("/politica-privacidad")} class="text-white"
                            >{t('footer.privacypolicy')}</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>