---
import { getLangFromUrl } from '@/i18n/utils';
import Layout from '@/layouts/Layout.astro';

import Carousel from "@/components/Carousel.astro";

import promo01 from '@/assets/inicio/promo-01.webp';
import promo02 from '@/assets/inicio/promo-02.webp';
import promo03 from '@/assets/inicio/promo-03.webp';

const lang = getLangFromUrl(Astro.url);
---
<Layout title="ALC Valet Parking Alicante | PARKING AEROPUERTO ALICANTE">
	<Carousel />
<div class="container mb-3">
  <div class="row row-cols-1 row-cols-md-3 mt-md-4">
    <div class="d-flex flex-column align-items-center mt-0" style="padding:40px; background-color:#dd5500;">
      <calculatorIcon />
      <div class="text-white text-center">
        <h2>Calculador de tarifas</h2>
        <p>Compruebe su precio de forma sencilla.</p>
      </div>
      <a href={`/${lang}/reservar`} class="btn btn-outline-light border-2 fw-light">CALCULE SU TARIFA</a>
    </div>

    <div class="d-flex flex-column align-items-center bg-primary" style="padding:40px;">
      <dropIcon />
      <div class="text-white text-center">
        <h2>Lavado exterior premium</h2>
        <p>Disponible en nuestros servicios adicionales.</p>
      </div>
      <a href={`/${lang}/servicios-adicionales`} class="btn btn-outline-light border-2 fw-light">OTROS SERVICIOS</a>
    </div>

    <div class="d-flex flex-column align-items-center"
      style="padding:40px; background-color:#ff8833; border-radius:0px;">
      <eyeIcon />
      <div class="text-white text-center">
        <h2>Parking Vigilado</h2>
        <p>Servicio de guarda y custodia de vehículos vigilado y asegurado.</p>
      </div>
      <a href={`/${lang}/localizacion`} class="btn btn-outline-light border-2 fw-light">CONÓCENOS</a>
    </div>
  </div>
</div>

<div class="container mt-3">
  <p>
    ALC Valet Parking es una empresa joven y dinámica que nace en 2012 con un objetivo claro, ofrecer un servicio de aparcamiento de calidad a precios de bajo coste. Somos una empresa dedicada a parking, guarda y custodia de vehículos en Alicante con más de 15 años de experiencia en el sector. Nuestro servicio está pensado para aquellas personas que se desplacen en su propio vehículo y necesiten un servicio de aparcamiento completo.
  </p>
</div>

<div class="d-flex justify-content-center align-items-center p-4 bg-primary">
  <h2 class="text-white fs-2 fw-light mb-0">PROMOCIONES</h2>
</div>

<div class="container my-5">
  <div class="row row-cols-1 row-cols-md-3">
    <div class="d-flex flex-column">
      <h3 class="fs-4">Vehículos Especiales</h3>
      <img src={promo01.src} alt="Promo 01" class="mb-3">
      <p class="text-secondary">
        Necesita aparcar su caravana, barca, remolque, o camión durante corta o larga estancia? Disponemos de más de 2.500m2 de terreno vigilado en zona Aeropuerto de Alicante-Elche. Ofrecemos un 10% de descuento para reservas de larga estancia.
      </p>
      <a href="mailto:info@alcvaletparking.com"
        class="text-decoration-none fw-medium text-primary">info&#64;alcvaletparking.com</a>
      <div class="d-flex justify-content-end">
        <a href={`/${lang}/localizacion`} class="btn btn-outline-dark border-2" style="font-size: .8rem;">MÁS INFORMACIÓN</a>
      </div>
    </div>

    <div class="d-flex flex-column">
      <h3 class="fs-4"><span class="text-primary">Promoción</span> Larga Estancia</h3>
      <img src={promo02.src} alt="Promo 02" class="mb-3">
      <p class="text-secondary">
        Necesita aparcar su coche larga estancia en Aeropuerto de Alicante-Elche o Estación de tren Alicante? Ofrecemos un 10% de descuento sobre nuestras tarifas actuales. Plazas al Aire Libre o Cubierto. Lavado exterior Básico incluido en cada estancia!
      </p>
      <a href="mailto:info@alcvaletparking.com"
        class="text-decoration-none fw-medium text-primary">info&#64;alcvaletparking.com</a>
      <div class="d-flex justify-content-end">
        <a href={`/${lang}/localizacion`} class="btn btn-outline-dark border-2" style="font-size: .8rem;">MÁS INFORMACIÓN</a>
      </div>
    </div>

    <div class="d-flex flex-column">
      <h3 class="fs-4 text-primary">Aparca con Confianza</h3>
      <img src={promo03.src} alt="Promo 03" class="mb-3">
      <p class="text-secondary">
        Ofrecemos plazas de aparcamiento vigiladas y aseguradas para su comodidad. Ya sea por corta o larga estancia, su vehículo estará siempre en buenas manos. Ubicado en la zona Aeropuerto de Alicante-Elche, contamos con espacios al aire libre y cubiertos, asegurando su tranquilidad.
      </p>
      <a href="mailto:info@alcvaletparking.com"
        class="text-decoration-none fw-medium text-primary">info&#64;alcvaletparking.com</a>
      <div class="d-flex justify-content-end">
        <a href={`/${lang}/localizacion`} class="btn btn-outline-dark border-2" style="font-size: .8rem;">MÁS INFORMACIÓN</a>
      </div>
    </div>
  </div>
</div>
</Layout>
